.c-products {
  @include small-screen {
    .c-accordion,.brandSearchBox {
      width: 100%;
    }
    .brandSearchBox {
      border: none;
      .brandSearchBox_txt {
        text-align: center;
      }
      .brandSearchBox_form {
        width: vw(630);
        margin: 2.66667vw auto 0;
        .brandSearchBox_sbox {
          width: vw(450);
        }
        .brandSearchBox_sbtn {
          width: vw(180);
        }
      }
    }
    &-vw100 {
      width: 100%;
    }
  }
}

.c-products_contents {
  margin-top: 40px;
  @include small-screen {
    margin-top: vw(60);
  }
  + .c-products_contents {
    margin-top: 100px;
  }
  .c-accordion {
    margin-top: 62px;
    +.c-accordion {
      margin-top: 20px;
    }
  }
  @include small-screen {
    .c-accordion {
      margin-top: vw(62);
      +.c-accordion {
        margin-top: vw(32);
      }
    }
  }
}
.c-products_desc_red {
  color: $red;
  strong {
    display: inline;
    @include small-screen {
      font-size: vw(46);
      margin-right: vw(4);
    }
  }
}
.c-products_btn {
  &-2clm {
    display: flex;
    width: 660px;
    margin: 0 auto;
    @include small-screen {
      display: block;
      width: 100%;
    }
    .m-btn {
      margin-top: 38px;
      width: 320px;
      height: 60px;
      + .m-btn {
        margin-left: 20px;
      }
      @include small-screen {
        margin-top: vw(52);
        width: 100%;
        height: vw(100);
        font-size: vw(24);
        + .m-btn {
          margin-left: 0;
          margin-top: vw(30);
        }
      }
    }
  }
}
.c-products_exList {
  display: flex;
  width: 810px;
  margin: 22px auto 0;
  @include small-screen {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: vw(54);
    padding: 0 vw(30);
  }
}
.c-products_exList_item {
  width: 180px;
  +.c-products_exList_item {
    margin-left: 30px;
  }
  @include small-screen {
    width: vw(275);
    margin-bottom: vw(50);
    &:last-child {
      margin-bottom: 0;
    }
    &:nth-last-child(2) {
      margin-bottom: 0;
    }
    +.c-products_exList_item {
      margin-left: 0;
    }
  }
}
.c-products_exList_item_txt {
  margin-top: 12px;
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.3;
  @include small-screen {
    font-size: vw(24);
    margin-top: vw(16);
  }
}
.c-products_exList_item_txt_big {
  font-size: 26px;
  @include small-screen {
    font-size: vw(46);
    letter-spacing: ls(40);
  }
}
.c-products_exList_item_txt_red {
  color: $red;
}
.c-products_item {
  flex: 0 0 47%;
  &.-wide {
    flex: 0 0 100%;
  }
  @include large-screen {
    &:nth-child(n+3) {
      margin-top: 25px;
    }
  }
  @include small-screen {
    &:nth-child(n+2) {
      margin-top: vw(40);
    }
  }
}
.c-products_item_title {
  padding-bottom: 5px;
  border-bottom: 1px solid #d7dbe0;
  font-size: 18px;
  font-weight: bold;
  + .c-products_item_list {
    margin-top: 15px;
    @include small-screen {
      margin-top: vw(20);
    }
  }
  @include small-screen {
    font-size: vw(28);
  }
}
.c-products_item_list {
  display: flex;
  flex-wrap: wrap;
  li {
    width: 50%;
    font-size: 14px;
    line-height: lh(14,24);
    letter-spacing: ls(40);
    font-feature-settings: "palt";
    @include small-screen {
      flex-flow: column;
      width: 100%;
      font-size: vw(24);
      line-height: lh(24,40);
    }
  }
  &.-wide li {
    width: 25%;
    @include small-screen {
      width: 100%;
    }
  }
  &.-column li {
    width: 100%;
  }
}
.c-accordion_inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 25px 30px;
  text-align: justify;
  color: #000;
  @include small-screen {
    padding: vw(40) vw(48);
    flex-flow: column;
  }
  &.-sitemap {
    padding: 0;
  }
}
.c-accordion_list {
  display: flex;
  flex-wrap: wrap;
}
.c-accordion_list_item {
  font-size: 14px;
  line-height: 1.65714;
  letter-spacing: -0.01em;
  margin: 0.6em 0.5em;
  @include small-screen {
    font-size: vw(24);
  }
}