<div class="g-diagnosis">
  <div class="g-diagnosis_mask js-diagnosisModalTrigger"></div>
  <div class="g-diagnosis_outer">
    <div class="g-diagnosis_closeBtn js-diagnosisModalTrigger"><span></span></div>
    <div class="g-diagnosis_inner">
      <p class="g-diagnosis_title">売りかたナビ</p>
      <p class="g-diagnosis_desc">今回売りたいものをすべて選択してください</p>
      <ul class="g-diagnosis_list">
        <li><button class="g-diagnosis_button" data-category="1,1," data-id="a">
          <svg><use xlink:href="/img/common/sprite.svg#products-lady" /></svg>
          <p>レディース衣類</p>
        </button></li>
        <li><button class="g-diagnosis_button" data-category="1,1," data-id="b">
          <svg><use xlink:href="/img/common/sprite.svg#products-man" /></svg>
          <p>メンズ衣類</p>
        </button></li>
        <li><button class="g-diagnosis_button" data-category="1,1," data-id="c">
          <svg><use xlink:href="/img/common/sprite.svg#products-kids" /></svg>
          <p>キッズ衣類</p>
        </button></li>
        <li><button class="g-diagnosis_button" data-category="1,1," data-id="d">
          <svg><use xlink:href="/img/common/sprite.svg#products-luxury" /></svg>
          <p>ラグジュアリー<br class="u-hidden-md u-hidden-lg">ブランド</p>
        </button></li>
        <li><button class="g-diagnosis_button" data-category="1,1,1" data-id="e">
          <svg><use xlink:href="/img/common/sprite.svg#products-pc" /></svg>
          <p>AV・生活家電</p>
        </button></li>
        <li><button class="g-diagnosis_button" data-category="1,," data-id="f">
          <svg><use xlink:href="/img/common/sprite.svg#products-phone" /></svg>
          <p>携帯電話</p>
        </button></li>
        <li><button class="g-diagnosis_button" data-category="1,1,1" data-id="g">
          <svg><use xlink:href="/img/common/sprite.svg#products-sofa" /></svg>
          <p>家具</p>
        </button></li>
        <li><button class="g-diagnosis_button" data-category="1,1," data-id="h">
          <svg><use xlink:href="/img/common/sprite.svg#products-cup" /></svg>
          <p>生活雑貨</p>
        </button></li>
        <li><button class="g-diagnosis_button" data-category="1,1," data-id="i">
          <svg><use xlink:href="/img/common/sprite.svg#products-baby" /></svg>
          <p>キッズ用品</p>
        </button></li>
        <li><button class="g-diagnosis_button" data-category="1,1," data-id="j">
          <svg><use xlink:href="/img/common/sprite.svg#products-guitar" /></svg>
          <p>楽器</p>
        </button></li>
        <li><button class="g-diagnosis_button" data-category="1,1," data-id="k">
          <svg><use xlink:href="/img/common/sprite.svg#products-hobby" /></svg>
          <p>ホビー</p>
        </button></li>
        <li><button class="g-diagnosis_button" data-category="1,1," data-id="l">
          <svg><use xlink:href="/img/common/sprite.svg#products-outdoor" /></svg>
          <p>アウトドア用品</p>
        </button></li>
        <li><button class="g-diagnosis_button" data-category="1,1," data-id="m">
          <svg><use xlink:href="/img/common/sprite.svg#products-sports" /></svg>
          <p>スポーツ用品</p>
        </button></li>
        <li><button class="g-diagnosis_button" data-category="1,," data-id="n">
          <svg><use xlink:href="/img/common/sprite.svg#products-golf" /></svg>
          <p>ゴルフ用品</p>
        </button></li>
        <li><button class="g-diagnosis_button" data-category="1,," data-id="p">
          <svg><use xlink:href="/img/common/sprite.svg#products-cycle" /></svg>
          <p>自転車</p>
        </button></li>
        <li><button class="g-diagnosis_button" data-category="1,," data-id="r">
          <svg><use xlink:href="/img/common/sprite.svg#products-gift" /></svg>
          <p>金券・商品券</p>
        </button></li>
        <li><button class="g-diagnosis_button" data-category="1,1," data-id="s">
          <svg><use xlink:href="/img/common/sprite.svg#products-necklace" /></svg>
          <p>貴金属</p>
        </button></li>
      </ul>

      <div class="g-diagnosis_cagory">
        <p class="g-diagnosis_cagory_title">あなたに適切な売り方はこちら</p>
        <ul class="g-diagnosis_cagory_list">
          <li class="g-diagnosis_cagory_list_item g-diagnosis_cagory_list_item-store">
            <a href="javascript:void(0)">
              <p class="g-diagnosis_cagory_list_item_lead">店頭買取</p>
              <p class="g-diagnosis_cagory_list_item_desc">持ちこんで、即買取！<br>直接お近くの店舗へお持ちください</p>
              <p class="g-diagnosis_cagory_list_item_txt">詳細はこちら</p>
            </a>
          </li>
          <li class="g-diagnosis_cagory_list_item g-diagnosis_cagory_list_item-web">
            <a href="javascript:void(0)">
              <p class="g-diagnosis_cagory_list_item_lead">Web買取</p>
              <p class="g-diagnosis_cagory_list_item_desc">いろんなものを送って、査定！<br>オンラインでお申込みください</p>
              <p class="g-diagnosis_cagory_list_item_txt">詳細はこちら</p>
            </a>
          </li>
          <li class="g-diagnosis_cagory_list_item g-diagnosis_cagory_list_item-visit">
            <a href="javascript:void(0)">
              <p class="g-diagnosis_cagory_list_item_lead">出張買取</p>
              <p class="g-diagnosis_cagory_list_item_desc">ご自宅で、ラクラク買取！<br>あなたのお家にお伺いします</p>
              <p class="g-diagnosis_cagory_list_item_txt">詳細はこちら</p>
            </a>
          </li>
        </ul>
        <div class="g-diagnosis_cagory_balloon">
          <p>Web買取につきましては、<br class="u-hidden-md u-hidden-lg">取扱できないブランド・サイズがございます。<br>詳しくはこちらをご確認ください。</p>
        </div>
      </div>
    </div>
  </div>
</div>