<div class="g-filterSearchModal">
  <div class="g-diagnosis_mask js-filterSearchModalTrigger"></div>
  <div class="g-diagnosis_outer">
    <div class="g-diagnosis_closeBtn js-filterSearchModalTrigger"><span></span></div>
    <div class="g-filterSearchModal_inner">
      <h3 class="g-filterSearchModal-title">条件検索</h3>
      <div class="c-filterSearch">
        <form action="/shop/search" method="post" name="search">

          <div class="c-filterSearch_inner">
            <p class="c-filterSearch_title">エリア</p>
            <div class="c-filterSearch_area_wrap">
              <ul class="c-filterSearch_area">
                <li class="c-filterSearch_area_inner">
                  <select name="prefectural">
                    <option value="" selected>都道府県</option>
                    <option value="01">北海道</option>
                    <option value="02">青森県</option>
                    <option value="03">岩手県</option>
                    <option value="04">宮城県</option>
                    <option value="05">秋田県</option>
                    <option value="06">山形県</option>
                    <option value="07">福島県</option>
                    <option value="08">茨城県</option>
                    <option value="09">栃木県</option>
                    <option value="10">群馬県</option>
                    <option value="11">埼玉県</option>
                    <option value="12">千葉県</option>
                    <option value="13">東京都</option>
                    <option value="14">神奈川県</option>
                    <option value="15">新潟県</option>
                    <option value="16">富山県</option>
                    <option value="17">石川県</option>
                    <option value="18">福井県</option>
                    <option value="19">山梨県</option>
                    <option value="20">長野県</option>
                    <option value="21">岐阜県</option>
                    <option value="22">静岡県</option>
                    <option value="23">愛知県</option>
                    <option value="24">三重県</option>
                    <option value="25">滋賀県</option>
                    <option value="26">京都府</option>
                    <option value="27">大阪府</option>
                    <option value="28">兵庫県</option>
                    <option value="29">奈良県</option>
                    <option value="30">和歌山県</option>
                    <option value="31">鳥取県</option>
                    <option value="32">島根県</option>
                    <option value="33">岡山県</option>
                    <option value="34">広島県</option>
                    <option value="35">山口県</option>
                    <option value="36">徳島県</option>
                    <option value="37">香川県</option>
                    <option value="38">愛媛県</option>
                    <option value="39">高知県</option>
                    <option value="40">福岡県</option>
                    <option value="41">佐賀県</option>
                    <option value="42">長崎県</option>
                    <option value="43">熊本県</option>
                    <option value="44">大分県</option>
                    <option value="45">宮崎県</option>
                    <option value="46">鹿児島県</option>
                    <option value="47">沖縄県</option>
                  </select>
                </li>
                <li class="c-filterSearch_area_inner">
                  <select name="city" class="c-filterSearch_area">
                    <option value="" selected>市区町村</option>
                    <option value="01">名古屋市</option>
                    <option value="02">青森県</option>
                    <option value="03">岩手県</option>
                    <option value="04">宮城県</option>
                    <option value="05">秋田県</option>
                    <option value="06">山形県</option>
                    <option value="07">福島県</option>
                    <option value="08">茨城県</option>
                    <option value="09">栃木県</option>
                    <option value="10">群馬県</option>
                    <option value="11">埼玉県</option>
                    <option value="12">千葉県</option>
                    <option value="13">東京都</option>
                    <option value="14">神奈川県</option>
                    <option value="15">新潟県</option>
                    <option value="16">富山県</option>
                    <option value="17">石川県</option>
                    <option value="18">福井県</option>
                    <option value="19">山梨県</option>
                    <option value="20">長野県</option>
                    <option value="21">岐阜県</option>
                    <option value="22">静岡県</option>
                    <option value="23">愛知県</option>
                    <option value="24">三重県</option>
                    <option value="25">滋賀県</option>
                    <option value="26">京都府</option>
                    <option value="27">大阪府</option>
                    <option value="28">兵庫県</option>
                    <option value="29">奈良県</option>
                    <option value="30">和歌山県</option>
                    <option value="31">鳥取県</option>
                    <option value="32">島根県</option>
                    <option value="33">岡山県</option>
                    <option value="34">広島県</option>
                    <option value="35">山口県</option>
                    <option value="36">徳島県</option>
                    <option value="37">香川県</option>
                    <option value="38">愛媛県</option>
                    <option value="39">高知県</option>
                    <option value="40">福岡県</option>
                    <option value="41">佐賀県</option>
                    <option value="42">長崎県</option>
                    <option value="43">熊本県</option>
                    <option value="44">大分県</option>
                    <option value="45">宮崎県</option>
                    <option value="46">鹿児島県</option>
                    <option value="47">沖縄県</option>
                  </select>
                </li>
              </ul>
            </div>
          </div>

          <div class="c-filterSearch_inner">
            <p class="c-filterSearch_title">取扱アイテム</p>
            <ul class="c-filterSearch_want">
              <li>
                <label>
                  <input class="c-filterSearch_want_input" type="checkbox" name="want" value="sell">
                  <span class="c-filterSearch_want_txt"><span>SELL</span>売りたい</span>
                </label>
              </li>
              <li>
                <label>
                  <input class="c-filterSearch_want_input" type="checkbox" name="want" value="buy">
                  <span class="c-filterSearch_want_txt"><span>BUY</span>買いたい</span>
                </label>
              </li>
            </ul>

            <ul class="c-filterSearch_product">
              <li>
                <label>
                  <input class="c-filterSearch_product_input" type="checkbox" name="product" value="womens">
                  <svg class="c-filterSearch_product_icon"><use xlink:href="/img/common/sprite.svg#products-lady" /></svg>
                  <span class="c-filterSearch_product_txt">レディース衣類</span>
                </label>
              </li>
              <li>
                <label>
                  <input class="c-filterSearch_product_input" type="checkbox" name="product" value="mens">
                  <svg class="c-filterSearch_product_icon"><use xlink:href="/img/common/sprite.svg#products-man" /></svg>
                  <span class="c-filterSearch_product_txt">メンズ衣類</span>
                </label>
              </li>
              <li>
                <label>
                  <input class="c-filterSearch_product_input" type="checkbox" name="product" value="kidswear">
                  <svg class="c-filterSearch_product_icon"><use xlink:href="/img/common/sprite.svg#products-kids" /></svg>
                  <span class="c-filterSearch_product_txt">キッズ衣類</span>
                </label>
              </li>
              <li>
                <label>
                  <input class="c-filterSearch_product_input" type="checkbox" name="product" value="luxuarybrand">
                  <svg class="c-filterSearch_product_icon"><use xlink:href="/img/common/sprite.svg#products-luxury" /></svg>
                  <span class="c-filterSearch_product_txt">ラグジュアリー<br class="u-hidden-md u-hidden-lg">ブランド</span>
                </label>
              </li>
              <li>
                <label>
                  <input class="c-filterSearch_product_input" type="checkbox" name="product" value="electronics">
                  <svg class="c-filterSearch_product_icon"><use xlink:href="/img/common/sprite.svg#products-pc" /></svg>
                  <span class="c-filterSearch_product_txt">AV・生活家電</span>
                </label>
              </li>
              <li>
                <label>
                  <input class="c-filterSearch_product_input" type="checkbox" name="product" value="mobile">
                  <svg class="c-filterSearch_product_icon"><use xlink:href="/img/common/sprite.svg#products-phone" /></svg>
                  <span class="c-filterSearch_product_txt">携帯電話</span>
                </label>
              </li>
              <li>
                <label>
                  <input class="c-filterSearch_product_input" type="checkbox" name="product" value="furniture">
                  <svg class="c-filterSearch_product_icon"><use xlink:href="/img/common/sprite.svg#products-sofa" /></svg>
                  <span class="c-filterSearch_product_txt">家具</span>
                </label>
              </li>
              <li>
                <label>
                  <input class="c-filterSearch_product_input" type="checkbox" name="product" value="goods">
                  <svg class="c-filterSearch_product_icon"><use xlink:href="/img/common/sprite.svg#products-cup" /></svg>
                  <span class="c-filterSearch_product_txt">生活雑貨</span>
                </label>
              </li>
              <li>
                <label>
                  <input class="c-filterSearch_product_input" type="checkbox" name="product" value="kidsgoods">
                  <svg class="c-filterSearch_product_icon"><use xlink:href="/img/common/sprite.svg#products-baby" /></svg>
                  <span class="c-filterSearch_product_txt">キッズ用品</span>
                </label>
              </li>
              <li>
                <label>
                  <input class="c-filterSearch_product_input" type="checkbox" name="product" value="instruments">
                  <svg class="c-filterSearch_product_icon"><use xlink:href="/img/common/sprite.svg#products-guitar" /></svg>
                  <span class="c-filterSearch_product_txt">楽器</span>
                </label>
              </li>
              <li>
                <label>
                  <input class="c-filterSearch_product_input" type="checkbox" name="product" value="hobby">
                  <svg class="c-filterSearch_product_icon"><use xlink:href="/img/common/sprite.svg#products-hobby" /></svg>
                  <span class="c-filterSearch_product_txt">ホビー</span>
                </label>
              </li>
              <li>
                <label>
                  <input class="c-filterSearch_product_input" type="checkbox" name="product" value="outdoor">
                  <svg class="c-filterSearch_product_icon"><use xlink:href="/img/common/sprite.svg#products-outdoor" /></svg>
                  <span class="c-filterSearch_product_txt">アウトドア用品</span>
                </label>
              </li>
              <li>
                <label>
                  <input class="c-filterSearch_product_input" type="checkbox" name="product" value="sports">
                  <svg class="c-filterSearch_product_icon"><use xlink:href="/img/common/sprite.svg#products-sports" /></svg>
                  <span class="c-filterSearch_product_txt">スポーツ用品</span>
                </label>
              </li>
              <li>
                <label>
                  <input class="c-filterSearch_product_input" type="checkbox" name="product" value="golf">
                  <svg class="c-filterSearch_product_icon"><use xlink:href="/img/common/sprite.svg#products-golf" /></svg>
                  <span class="c-filterSearch_product_txt">ゴルフ用品</span>
                </label>
              </li>
              <li>
                <label>
                  <input class="c-filterSearch_product_input" type="checkbox" name="product" value="bicycle">
                  <svg class="c-filterSearch_product_icon"><use xlink:href="/img/common/sprite.svg#products-cycle" /></svg>
                  <span class="c-filterSearch_product_txt">自転車</span>
                </label>
              </li>
              <li>
                <label>
                  <input class="c-filterSearch_product_input" type="checkbox" name="product" value="ticket">
                  <svg class="c-filterSearch_product_icon"><use xlink:href="/img/common/sprite.svg#products-gift" /></svg>
                  <span class="c-filterSearch_product_txt">金券・商品券</span>
                </label>
              </li>
              <li>
                <label>
                  <input class="c-filterSearch_product_input" type="checkbox" name="product" value="accessary">
                  <svg class="c-filterSearch_product_icon"><use xlink:href="/img/common/sprite.svg#products-necklace" /></svg>
                  <span class="c-filterSearch_product_txt">貴金属</span>
                </label>
              </li>
            </ul>
          </div>

          <div class="c-filterSearch_inner">
            <p class="c-filterSearch_title">店舗の特徴</p>
            <ul class="c-filterSearch_feature">
              <li>
                <label>
                  <input class="c-filterSearch_feature_input" type="checkbox" name="feature" value="family">
                  <span class="c-filterSearch_feature_txt">ファミリーにおすすめ</span>
                </label>
              </li>
              <li>
                <label>
                  <input class="c-filterSearch_feature_input" type="checkbox" name="feature" value="mens">
                  <span class="c-filterSearch_feature_txt">メンズ商品充実</span>
                </label>
              </li>
              <li>
                <label>
                  <input class="c-filterSearch_feature_input" type="checkbox" name="feature" value="womens">
                  <span class="c-filterSearch_feature_txt">レディース商品充実</span>
                </label>
              </li>
              <li>
                <label>
                  <input class="c-filterSearch_feature_input" type="checkbox" name="feature" value="parking">
                  <span class="c-filterSearch_feature_txt">駐車場あり</span>
                </label>
              </li>
              <li>
                <label>
                  <input class="c-filterSearch_feature_input" type="checkbox" name="feature" value="visit">
                  <span class="c-filterSearch_feature_txt">出張買取対応</span>
                </label>
              </li>
              <li>
                <label>
                  <input class="c-filterSearch_feature_input" type="checkbox" name="feature" value="campaign">
                  <span class="c-filterSearch_feature_txt">キャンペーン実施中</span>
                </label>
              </li>
              <li>
                <label>
                  <input class="c-filterSearch_feature_input" type="checkbox" name="feature" value="largestore">
                  <span class="c-filterSearch_feature_txt">大型店</span>
                </label>
              </li>
            </ul>
          </div>

          <input class="c-filterSearch_btn m-btn m-btnEffect" type="submit" value="検索">
        </form>
      </div>

    </div>
  </div>
</div>