<header class="g-header">
  <div class="g-header_sub">
    <div class="g-header_sub_inner">
      <p class="g-header_sub_title"><svg class="svgIcon svgIcon-search" viewBox="0 0 200 200"><use xlink:href="/img/common/sprite.svg#search" /></svg><span>店舗検索</span></p>
      <ul class="g-header_sub_btnList g-header_sub_btnList-img">
        <li class="g-header_sub_btnList_item"><a href="#">お近くの店舗</a></li>
        <li class="g-header_sub_btnList_item"><a href="#" class="js-filterSearchModalTrigger">条件検索</a></li>
      </ul>
      <div class="g-header_sub_search">
        <input type="text" placeholder="フリーワード">
        <input type="submit" value="Search">
      </div>
    </div>
  </div>
</header>