<%_
var name;
_%>

<a id="validation"></a>
<section class="c-validation">
  <h3 class="m-title">ご本人確認書類</h3>
  <p class="c-validation_desc"><%- name %>買取サービスをご利用いただくには、<br class="u-hidden-md u-hidden-lg">下記のものを必ずお持ちください。</p>

  <ul class="c-validation_list c-validation_list-strong">
    <li>・お申込み者ご自身の「ご本人確認書類」</li>
    <li>・お売りいただけるお品物</li>
  </ul>

  <div class="c-accordion c-validation_accordion">
    <p class="c-accordion_title js-bothPcSpAccordionTrigger">詳しく見る</p>
    <div class="js-bothPcSpAccordionContent">

      <div class="c-validation_inner">
        <section class="c-validation_section">
          <h5 class="c-validation_heading">有効なご本人確認書類一覧</h5>
          <p class="c-validation_txt">運転免許証・健康保険証（船員保険証）・国民健康保険証・後期高齢者医療保険証・学生証（住所記入欄のあるもの）・住民基本台帳カード（写真付）・マイナンバーカード・年金手帳・身体障がい者手帳・ 療育手帳・精神障がい者保健福祉手帳・日本国パスポート・小型船舶操縦士免許証・ 生活保護受給証・外国人登録証明書・在留カード・特別永住者証明書</p>
          <ul class="c-validation_list c-validation_list-asterisk c-validation_list-red">
            <li>※申込者ご自身のお名前、現住所、生年月日が記載された有効期限内の原本に限り有効となります。</li>
            <li>※住民票・写真なしの住民基本台帳カード・個人番号の通知カード・住所記入のない保険証・学生証・年金手帳は、ご利用いただけません。</li>
            <li>※18歳未満（高校生含む）のお客様には親権者様のご同伴と、親権者様ご自身の名義・ご本人確認書類でのお申込みとさせていただいております。</li>
          </ul>
        </section>

        <section class="c-validation_section">
          <h5 class="c-validation_heading">出張買取をご利用の場合の注意事項</h5>
          <p class="c-validation_txt c-validation_txt-red">ご本人確認書類に記載されている住所と現在住んでいらっしゃる住所は、一致している必要があります。</p>
          <p class="c-validation_txt c-validation_txt-red">異なる場合は 公共料金の領収書等の現住所が確認できる補完書類の原本が必要です。</p>
          <p class="c-validation_txt c-validation_txt-red">有効な補完書類は「6カ月以内の発行日等」「現住所」「ご本人様(家族不可)のお名前」全てが記載され、かつ下記一覧に載っているものとなります。</p>
        </section>

        <section class="c-validation_section">
          <h5 class="c-validation_heading">有効な補完書類一覧</h5>
          <ul class="c-validation_list">
            <li>・公共料金の領収書/請求書(電気・ガス・水道・固定電話・携帯電話・NHK受信料)</li>
            <li>・検針票 (電気・ガス・水道 )</li>
            <li>・国税または地方税の領収書または納税証明書</li>
            <li>・社会保険料の領収書</li>
            <li>・現住所記載の郵便物(消印または、「料金後納」「料金別納」の記載があるもの)</li>
            <li>・住民票の写し</li>
            <li>・宅配便の送り状(複写式以外)</li>
          </ul>
        </section>
      </div>

    </div>
  </div>

</section>